---
import { Image } from 'astro:assets';
import heroBadge from "./../../assets/images/hero--badge.svg"
import stars from "./../../assets/images/stars.svg"
import drops from "./../../assets/images/drops.svg"
import sectionBackground from "./../../assets/images/hero--background--no-round.webp"
import overlayImg from "./../../assets/images/dark-overlay-layer-doubled.png"
import sunrayImg from "./../../assets/images/sunray-30.png"
---
<section id="hero" class="relative rounded-b-[25px] lg:rounded-b-[50px] bg-no-repeat bg-fixed bg-top lg:bg-cover" style=`background-image: url(${sectionBackground.src});`>
    <!-- Overlays -->
    <div class="absolute inset-0 w-full h-full">
        <!-- Mobile Overlay -->
        <div class="rounded-b-[25px] lg:rounded-b-[50px] lg:hidden absolute inset-0 opacity-40 bg-overlay bg-gradient-to-t from-dark-green-100 via-dark-green-100 to-transparent"></div>
        <!-- Desktop Overlays -->
        <div class="rounded-b-[25px] lg:rounded-b-[50px] hidden lg:block absolute inset-0 bg-fixed bg-overlay bg-cover" style=`background-image: url(${overlayImg.src});`></div>
        <div class="rounded-b-[25px] lg:rounded-b-[50px] hidden lg:block absolute inset-0 bg-fixed bg-overlay bg-cover animate-pulseSlow" style=`background-image: url(${sunrayImg.src})`></div>
    </div>
    <!-- Column layout -->
    <div class="relative grid grid-cols-6 lg:grid-cols-12 px-5">
        <!-- Helper column / delete later -->
        <div class="col-span-1"></div>
        <!-- Content column -->
        <div class="col-start-1 col-span-6 lg:col-start-2 lg:col-span-5 h-screen flex z-0">
            <!-- Content wrapper -->
            <div class="relative z-10 flex flex-col text-white justify-between">
                <Image src={heroBadge} alt="hero badge" class="w-[96px] fill-current"/>
                <h1 class="uppercase relative text-4xl md:text-7xl">Okouzlete přírodou, investujte <div class="relative mt-6"><span class="absolute bottom-12 left-2 rotate-[-15deg] bachelorette md:text-6xl lowercase">do</span><span class="text-glamping-light-green-100">glampingu</span></div></h1>
                <Image src={stars} alt="stars element" class="w-[32vw] absolute bottom-[7rem] md:bottom-[6rem] lg:bottom-[14.5rem] lg:right-[10rem]"/>
                <Image src={drops} alt="drops element" class="absolute w-14 lg:w-auto bottom-[2rem] left-[16rem] lg:bottom-[6rem] lg:left-[34rem]"/>
            </div>
        </div>
        <!-- Helper column / delete later -->
        <div class="hidden lg:col-start-7 lg:col-span-5 bg-red-100">ABC</div>
        <!-- Helper column / delete later -->
        <div class="hidden col-span-1 bg-white-100 h-screen">DEF</div>
    </div>
</section>

<style>
    @media (max-width: 767px) {
        #hero {
            background-image: url('./../../assets/images/hero-background-mobile-noround.webp') !important;
            background-size: cover;
        }
    }
</style>


<!-- 
Todo:
1. Text overlay elements!

-->